<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link"
    >To main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>07.03.23</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum incidunt maiores nam numquam odio quo? Aspernatur cupiditate, deserunt, excepturi ipsa iste magni non odit provident quia quibusdam quisquam, quod vero.
    </p>
  </div>
</div>
